<!-- 顶部标题 -->
<header class="bar bar-nav default-style">
	<a class="icon icon-left pull-left back" external href="#/driver/start" ng-show="detailList.status == 0"></a>
	<a class="icon icon-left pull-left back" external href="#/driver/delivery" ng-show="detailList.status == 2"></a>
	<a class="icon icon-left pull-left back" external href="#/driver/complete" ng-show="detailList.status == 1"></a>
	<h1 class="title">配送列表</h1>
</header>

<!-- 页面内容区域 -->

<div class="content" style="top:2.2rem;">
	<div class="card">
		<div class="card-header" ng-show="detailList.status == 0">
			<span>送货状态：<span class="danger-color">等待配送</span></span>
			<a  class="button button-fill position-right" external style="top:50%;margin-top:-.67rem" ng-click="start_delivery()">开始配送</a>
		</div>
		<div class="card-header" ng-show="detailList.status == 2">
			<span>送货状态：<span class="danger-color">配送中</span></span>
			<a data-transition="slide-in" ng-show="detailList.carryRecord == null || detailList.carryRecord.status ==1" class="button button-fill position-right" style="top:50%;margin-top:-.67rem" external ng-click="confirmtake()" >客户签收</a>
		</div>
		<div class="card-header" ng-show="detailList.status == 1">
			<span>送货状态：<span class="success-color">客户已签收</span></span>
		</div>
		<ul class="material-list padding" style="border-bottom:1px solid #ccc;">
			<li ng-repeat="order in detailList.dispatch_goods_detail">
				<span class="name" style="width:50%"> {{order.goods_name}}</span>
				<span class="count" style="width:33%"> 
					<i ng-show="order.attr!==null">{{order.attr}}/</i>{{order.unit}}
				</span>
				<span class="price" style="width:13%">x{{order.num}}</span>
			</li>
		</ul>
		<div class="card-content">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">商品总价：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.p1}}</span></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">价格优惠：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.p2}}</span></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">运费：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.p3}}</span></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">搬运费：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.p4}}</span></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">搬运费(未确认)：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.p5}}</span></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">合计：</div>
							<div class="item-after"><span class="price">￥{{detailList.order_price.total}}</span></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<span>订单详情</span>
		</div>
		<div class="card-content">
			<div class="card-content-inner" style="display:block" data-transition="slide-in">
				订单编号： {{detailList.order.code}}
				<br> 下单时间： {{detailList.create_time}}
				<br> 支付状态：
				<span class="label label-default  danger-color" ng-show="detailList.order.status_pay ==0">未支付</span>
				<span class="label label-default success-color" ng-show="detailList.order.status_pay ==1">已支付</span>
				<span class="label label-default default-color" ng-show="detailList.order.status_pay ==2">部分支付</span>
				<br> 收货人员： {{detailList.site_name.receiver_name}}( {{detailList.site_name.mobile}} )
				<br> 送货地址： {{detailList.site_name.name}}
				<br>
			</div>
		</div>
	</div>

</div>