<!-- 顶部标题 -->
<header class="bar bar-nav default-style">
	<h1 class="title">配送列表</h1>
</header>

<!-- 底部导航栏 -->
<nav class="bar bar-tab default-style">
	<a class="tab-item  current" href="#/driver/start">
		<!-- <span class="icon icon-dynamic-white"></span> -->
		<span class="tab-label">我的任务</span>
	</a>
	<a class="tab-item" href="#/me/index">
		<!-- <span class="icon icon-address-gray"></span> -->
		<span class="tab-label">个人中心</span>
	</a>
</nav>

<div class="black-top-area bar bar-header-secondary">
	<ul class="three-ul">
		<li>
			<a href="#/driver/start" data-transition="slide-out">未配送</a>
		</li>
		<li class="current">
			<a href="#/driver/delivery" data-transition="slide-in">配送中</a>
		</li>
		<li>
			<a href="#/driver/complete" data-transition="slide-in">已签收</a>
		</li>
	</ul>
</div>

<!-- 搜索栏 -->
<div class="bar bar-footer white-bg" style="top:4.7rem">
	<div class="searchbar">
		<a class="searchbar-cancel">取消</a>
		<div class="search-input">
			<label class="icon icon-search" for="search"></label>
			<input type="search" id='search' placeholder='输入关键字...' />
		</div>
	</div>
</div>

<!-- 页面内容区域 -->
<div class="content" id="driver_model" style="top:7rem;">
	<style type="text/css">
		.content {
			bottom: 2.2rem!important;
		}
		
		.bar-tab {
			display: block;
		}
	</style>
	<div class="card" ng-repeat="list in statusList">
		<div class="card-header">
			<span>送货状态：<span class="danger-color">配送中</span></span>
		</div>
		<div class="card-content">
			<a class="card-content-inner  arrow-bg-right list-font-info" style="display:block" href="#/driver/detail" data-transition="slide-in" external  ng-click="view_order_detail()">
				订单编号：{{list.order.code}}<br/>
				送货地址：{{list.site_name.name}}<br/>
				支付方式：<span ng-show="list.order.status_pay==1">已支付</span><span  ng-show="list.order.status_pay==0">未支付</span><span  ng-show="list.order.status_pay==2">未支付</span><br/>
				商品金额：<span class="price">￥ {{list.order_price.p1}}</span><br/>
				搬运费用：<span class="price">￥{{list.order_price.p4}}</span><br/>
				配送时间：{{list.start_time}}<br />
				预约到达时间：{{list.estimated_time}}
			</a>
		</div>
		<ul class="card-footer card-footer-ul clearfix">
			<li class="pull-left">
				<a ng-show="list.carryRecord  == null " class="button button-fill button-warning" ng-click="editCarryPay($event)">修改搬运费申请</a>
				<a ng-show="list.carryRecord !== null" class="button button-fill button-warning prompt-title-ok-cancel disabled" id="add_delivery_cost">
					<span ng-show="list.carryRecord.status == 0">等待调度确认</span>
					<span ng-show="list.carryRecord.status == 2">等到客服确认</span>
					<span ng-show="list.carryRecord.status == 1">搬运已修改</span>
				</a>
			</li>
			<li class="pull-right" ng-show="list.carryRecord  ==null || list.carryRecord.status == 1">
				<a ng-click="confirmtake()" class="button  button-fill">客户签收</a>
			</li>
		</ul>
	</div>

</div>